.panel-body form{
    margin-top:  100px;
}
.box-btn{
    display: flex;
}
.box-btn .btn-group{
    margin: 0 20px;
}
.dropdown-menu{
    top: 0;
    left: 150px;
}
.dropdown-menu li{
    padding: 0 10px;
}